/* Import Fontes */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Raleway:wght@300;400;500;700&display=swap');


:root{
    --color-coral: #F05D5E;
    --color-cobalto: #314CB6;
    --color-white: #F5F5F5;
    --color-preto: #0D0D0D;
    --color-violeta: #9747FF;
    --color-roxo: #6D499D;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: radial-gradient(circle, rgba(83,129,219,1) 0%, rgba(49,76,182,1) 100%);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 6rem;
    gap: 2rem;
    z-index: 1; 
}

.navbar a{
    font-family: "Raleway";
    text-decoration: none;
    color: white;
    font-weight: se;
    font-size: 1.3rem;
    cursor: pointer;
    
}

.navbar :hover{
    color:var(--color-coral);
    font-size: 1.3rem;
    cursor: pointer;
}


.headerUpper{
    display: flex;
    justify-content: center;
    padding: 5rem 6rem 10rem 6rem;

    position: relative;
}

.leftInfo,.rightInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.leftInfo{
    align-items: start;
}

.rightInfo{
    align-items: end;
    justify-content: end;
}

.headerUpper .textWrapper{
    width: 48%;
}

.headerUpper .rightInfo .textWrapper{
    width: 60%;
    text-align: end;
}

.headerUpper .leftInfo h1, .headerUpper .rightInfo h1{
font-family: "Kanit";
font-weight: bold;
color: var(--color-white);
font-size: 4rem;
}


.headerUpper .leftInfo h4, .headerUpper .rightInfo h4{
    font-family: "Raleway";
    font-weight: normal;
    color: var(--color-white);
    font-size: 1.3rem;
}

highlight{
    color: var(--color-coral) !important;
    font-weight: bold;
}


#btn-header{
    background-color: var(--color-coral);
    padding: .6rem 3rem;
    border-radius: 5rem;
    border: none;
    color: var(--color-white);
    font-family: "Inter";
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}


#btn-header :hover{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    color: #F05D5E;
    box-shadow: 0px 0px 7px #FDFF87;
}




.headerNotebook{
    position: absolute;
    width: 43rem;
    top: -4rem;
    right: 28rem;
    user-select: none;
    
}


.headerBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 2rem;
}

.headerBottom h1 {
    font-family: "Kanit";
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-white);
    width: 45rem;
    text-align: center;
}

.headerBottom h4 {
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--color-white);
    width: 62rem;
    text-align: center;
}


/* Quem somos css */
.quemSomosWrapper{
    display: flex;
    padding: 2rem 5rem;
    background-color: var(--color-white);
}

.quemSomosWrapper .leftInfo {
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.quemSomosWrapper .leftInfo h1{
    font-family: "Kanit";
    text-transform: uppercase;
    color: var(--color-cobalto);
    font-size: 5rem;
}

.quemSomosWrapper .infoWrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.quemSomosWrapper .infoWrapper img{
    width: 10rem;
}

.quemSomosWrapper .infoWrapper h4{
font-family: "Raleway";
font-size: 1.3rem;
font-weight: 600;
}

.quemSomosWrapper .infoWrapper>:last-child{
    text-align: end;
}

/* projetos css */
.projetosWrapper{
    display: flex;
    padding: 2rem 5rem;
    background-color: var(--color-white);
}

.projetosWrapper .leftInfo {
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.projetosWrapper .centerInfo h1{
    font-family: "Kanit";
    text-transform: uppercase;
    color: var(--color-cobalto);
    text-align: center;
    font-size: 5rem;
    margin-top: 3%;
}

.projetosWrapper .infoWrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
}

.projetosWrapper .ProjetosInfoWrapper img{
    width: 10rem;
    align-items: center;
    position: absolute;
    right: 45%;
}


.projetosInfoWrapper h4 {
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--color-white);
    width: 62rem;
    text-align: justify;
    margin-top: 5%;
}



html {
    scroll-padding-top: 7vh;
    scroll-behavior: smooth;
}



html {
    scroll-padding-top: 7vh;
    scroll-behavior: smooth;
}

.select-disable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #314cb6;
}

body::-webkit-scrollbar-thumb {
    background-color: #F05D5E;;
    border-radius: 5px;
}


#fale-conosco {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 10vh;
    padding: 17vh;
    background-color: #F5F5F5;
}

#fale-conosco h1{
    font-family: "Kanit";
    text-transform: uppercase;
    color: var(--color-cobalto);
    font-size: 3rem;
}

#fale-conosco::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 160px;
    background-image: url(../assets/img/fade/fade-down.svg);
    top: 0;
    left: 0;
}

#fale-conosco div {
    display: flex;
    justify-content: space-between;
    gap: 3vh;
}

.fale-conosco-inputs {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.fale-conosco-span {
    color:var(--color-cobalto);
    font-size: 1.5rem;
}

.fale-conosco-inputs input {
    padding: 10px;
    width: 397px;
    border-radius: 6px;
    border: 3px var(--color-coral) solid;
    font-size: 15px;
    font-family: 'Mulish';
}

.fale-conosco-inputs input:focus {
    outline: none;
    border-bottom: 2px solid var(--color-violeta);
}

.fale-conosco-inputs input:hover {
    border-radius: 15px;
    transition: 0.5s;
}

.fale-conosco-comunicado {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.fale-conosco-comunicado textarea {
    resize: none;
    padding: 15px;
    border-radius: 10px;
    border: 3px var(--color-coral) solid;
    font-size: 15px;
    font-family: 'Mulish';
}


.fale-conosco-comunicado textarea:hover {
    border-radius: 20px;
    transition: 0.5s;
    border-bottom: 2px solid var(--color-violeta);
}

.btn-fale-conosco {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    width: 150px;
    border-radius: 32px;
    border: none;
    background-color: #F05D5E;;
    font-size: 15px;
    align-self: flex-end;
    margin-right: 1vw;
}

.btn-fale-conosco:hover {
    color: #314cb6;
    border-radius: 14px;
    transition: 0.7s;
}




footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
    border-top: 3px solid #F05D5E;
    background: #314cb6;
    padding: 3rem;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33%;
    height: 20vh;
}

footer div img {
    max-width: 200px;
}

footer div span {
    font-size: 22px;
    color: var(--color-coral);
}

.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 33%;
    height: 20vh;
    gap: 0.5rem;
}

.subdiv-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 5px;
}

.subdiv-footer span{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #F05D5E;
}

.subdiv-footer ul li a{
    font-size: 13px;
    text-decoration: underline;
    margin-bottom: 1px;
    text-decoration: none;
}


.subdiv-footer a{
    color: #fff;
}


.subdiv-footer a:hover {
    color: #F05D5E;
}

.div-footer:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer .div-footer img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
   }
